<main class="MenuCategoryPage">
<p class = "MenuTitle">Menu Today</p>

<% MenuCategory.all.map do |category| %>

    <ul class="MenuCategory-Section">
        <p class="MenuCategory-Title"><%= category.name %></p>
        <% MenuItem.get_items(category.id).map do |item| %>
           <li class= "MenuItem">
             <span class="MenuItem-title"><%= item.name %></span>
                <span class="MenuItem-price">₹ <%= item.price %></span>
            </li>
        <% end %>
    </ul>
<% end %>
</main>
