.UsersNewPage {
  font-family: sans-serif;
  margin: 2% auto;
  padding: 3%;
  line-height: 1;
  max-width: 900px;
  letter-spacing: 0.1px;
  background-color: rgb(211, 221, 255);
  box-shadow: 1px 10px 20px #aaaaaa;
  border-radius: 20px;
}
.UserSession-name {
  background-color: lightslategray;
  padding: 5px;
  margin: 0px 2%;
  border-radius: 12px;
}
.UsersNew-Title {
  font-size: 24px;
  font-weight: 600;
  color: rgb(136, 123, 192);
}
.UserSessionBlock {
  align-items: center;
  display: flex;
  padding: 1%;
  justify-content: space-between;
  background-color: dimgray;
  color: ivory;
  font-family: sans-serif;
  font-size: 18;
}
.UsersForm {
  margin: 5%;
  padding: 5%;
  background-color: rgb(255, 253, 246);
  display: flex;
  justify-content: space-around;
  text-align: center;
  box-shadow: 1px 10px 20px #aaaaaa;
  border-radius: 20px;
}
.UsersForm-section {
  align-items: center;
  margin: 5% auto;

  width: 120%;

  font-size: 20px;
  color: #453c52;
  display: flex;
  justify-content: space-between;
}
.UsersForm-input {
  padding: 2%;
  font-size: 16px;
  color: #726a7e;
  margin-left: 10%;
  border-radius: 4px;
  border: 1px solid #bfb8cc;
}
.UsersForm-Submit {
  text-decoration: none;
  font-size: 14px;
  color: white;
  background-color: #48bb78;
  border: 1px solid transparent;
  padding: 6px 22px;
  border-radius: 4px;
  cursor: pointer;
}

.UsersForm-cartbutton {
  background-color: rgb(238, 94, 161);
  margin-right: 2%;
  text-decoration: none;
  font-size: 14px;
  color: white;
  border: 1px solid transparent;
  padding: 6px 22px;
  border-radius: 4px;
  cursor: pointer;
}

.UsersForm-menubutton {
  background-color: rgb(255, 158, 13);
  margin-right: 2%;
  text-decoration: none;
  font-size: 14px;
  color: white;
  border: 1px solid transparent;
  padding: 6px 22px;
  border-radius: 4px;
  cursor: pointer;
}

.UsersForm-home {
  font-size: 16px;
  color: white;
  background-color: #48bb78;
  padding: 6px 10px;
  border-radius: 12px;
  cursor: pointer;
  text-decoration: none;
  float: right;
}

.UsersForm-home:hover,
.UsersForm-Submit:hover,
.UsersForm-cartbutton:hover,
.UsersForm-menubutton:hover {
  transition: background-color 0.5s;
  background-color: dodgerblue;
}

.FlashMessage {
  font-family: sans-serif;
  text-align: center;
  font-size: 14;
  font-weight: 600;
  margin: 1% auto;
  max-width: 500px;
  padding: 2%;
  color: rgb(134, 0, 0);
  background-color: rgb(255, 196, 196);
  box-shadow: 1px 10px 20px #aaaaaa;
  border-radius: 10px;
}
